.thresholdBanner{
    padding: 20px 100px;
    
    background: #f3f3f3;
   
}

.bannersContainer{
    display: flex;
    justify-content: center;
}

.bannerHeading{
    text-align: center;
    color: #d91d598a;
}

